html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sweet-icon-fav {
  border: 0 !important;
}

.sweet-text-fav {
  font-size: 24px !important;
  margin-left: 40px !important;
  padding-bottom: 10px !important;
  margin-top: 0px !important;
  font-weight: normal !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.sweet-icon-fav img {
  width: 64px;
  padding-left: 20px;
}

.sweet-icon-cart {
  border: 0 !important;
}

.sweet-text-cart {
  font-size: 24px !important;
  font-weight: normal !important;
  margin-left: 40px !important;
  padding-bottom: 10px !important;
  margin-top: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.sweet-icon-cart img {
  width: 64px;
  padding-left: 20px;
}
