.containerAdminProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 2rem 0;
}
.containerAdminProfile h2 {
  color: black;
}
.containerAdmin {
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}
.containerUser p {
  font-size: 1.2rem;
}
