.containerStock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.paginationStock {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.paginationBulletActive {
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #22b8cf;
  color: white;
}

.paginationBullet {
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #adb5bd;
  color: white;
}

.paginationStock button {
  border-radius: 50%;
  background-color: #22b8cf;
  color: white;
  border: none;
  padding: 5px 15px;
}

.buttonContainer {
  display: flex;
  gap: 2rem;
}

.containerPrimaryActions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFlex {
  display: flex;
  gap: 2rem;
}

.containerButtonNavigation {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.containerButtonAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px 0;
}

.containerButtonAdd h3 {
  margin: 0;
}

.containerActions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-right: 2rem;
}

.containerActions button {
  font-size: 32px;
}

.containerAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.containerTable__Pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerUser {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.inputSearch,
.buttonsNavigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
