.container {
}
.widthScreen {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  font-weight: bold;
  max-width: 70%;
  gap: 2rem;
}
.authorName {
  font-size: 48px;
}
.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imageContainer {
}

.image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.carrusel {
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.libro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerButtonsBooks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.btn {
  font-size: large;
}

.btn:hover {
  cursor: pointer;
  background-color: #77c9d4;
  transition: 0.5s;
}

.btnUbi {
  padding-top: 2%;
  padding-left: 2%;
}

.btnImg:hover {
  cursor: pointer;
  background-color: #77c9d4;
  transition: 0.5s;
}

.Link {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.cart {
  position: fixed;
  top: 5rem;
  right: 1rem;
  border-radius: 50px;
  z-index: 2;
}
.cart:hover {
  background-color: #77c9d4;
}
