.authors {
  background: linear-gradient(
    298.8deg,
    rgba(204, 214, 38, 0.85) -59.75%,
    rgba(27, 163, 168, 0.85) 26.91%,
    rgba(55, 61, 81, 0.85) 98.72%
  );
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  height: 100%;
}
.Link {
  text-decoration: none;
}

.selectOrder {
  padding: 1em 1.5em;
  border-radius: 5px;
  color: white;
  background-color: #468ea2;
}

.containerActions {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.button {
  text-decoration: none;
  font-size: xx-large;
  color: white;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.button:hover {
  text-decoration: none;
}

.button::before {
  content: '';
  background: white;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}
.button:hover::before {
  width: 100%;
}

.button::after {
  content: '';
  background: white;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.button:hover::after {
  width: 100%;
}
.link {
  text-decoration: none;
}
