.container {
}
.widthScreen {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  font-weight: bold;
  max-width: 70%;
  gap: 2rem;
}
.authorName {
  font-size: 48px;
}
.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.carrusel {
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.libro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerButtonsBooks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.btn {
  font-size: large;
}

.btn:hover {
  cursor: pointer;
  background-color: #77c9d4;
  transition: 0.5s;
}

.btnUbi {
  padding-top: 2%;
  padding-left: 2%;
}

.btnImg:hover {
  cursor: pointer;
  background-color: #77c9d4;
  transition: 0.5s;
}

.Link {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.containerCart {
  position: fixed;
  background-color: #77c9d4;
  top: 5rem;
  right: 2rem;
  z-index: 2;
  border-radius: 100%;
  padding: 1rem;
  transition: 500ms;
}
.containerCart:hover{
  background-color:#77c9d480 ;
}
.cart {
  width: 48px;
  height: 48px;
  color: white;
}
.productsAmount{
  position: absolute;
  top:3rem;
  left:2px;
  width: 15px;
  height: 20px;
  padding-left: 5px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: orange
}
