.container {
  background: -webkit-linear-gradient(80deg, #77c9d4, #015249);
  width: 100vw;
  height: 250px;
}

.container2 {
  display: flex;
  padding-top: 50px;
  width: 100vw;
  justify-content: space-around;
}

.payments {
  display: flex;
  align-items: center;
}

.networks {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
}

.Link {
  text-decoration: none;
  color: black;
}
