.container {
  display: flex;
  margin-left: 50px;
}

.container2 {
  display: flex;
}

.payments {
  margin-left: 100px;
}

.networks {
  margin-left: 100px;
}

.info {
  margin-left: 100px;
}

ul {
  list-style: none;
}
