.button {
  z-index: 1;
  position: relative;
  font-size: 18px;
  background-color: #22b8cf;
  height: 3rem;
  border-radius: 4px;
  transition: 500ms;
  color: white;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  z-index: -1;
  top: 0;
  left: 0;
  transition: transform 200ms ease-in;
}
.button::after {
  transform: scaleX(0);
  transform-origin: right;
}
.button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.buttonShow {
  background-color: #51cf66;
}

.buttonHide {
  background-color: #f03e3e;
}

.btnAdmin {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #22b8cf;

  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
