.container {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  width: 220px;
  font-weight: bold;
  color: rgba(27, 163, 168);
  background-color: white;
  border-radius: 6px;
  box-shadow: 5px 5px 5px grey;
  transition: 300ms;
}
.container:hover{
  transform: scale(1.03);
  transform:rotate3d(2, 1, 1, 5deg);
}

h2 {
  height: 3rem;
  font-size: 1.2rem;
}

.img {
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 0;
  width:220px;
  height:300px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerRating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.ratingIcon {
  color: #ffd43b;
}
.rating {
  color: #343a40;
}
.price {
  font-size: 1.4rem;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
}

.numberRating {
  margin-left: 10px;
  color: #ffd43b;
  font-size: large;
}

.image {
  position: relative;
}

.comprado {
  background-color: red;
  padding: 0 20px;
  position: absolute;
  transform: rotate(315deg);
  left: -30px;
  top: 25px;
  display: none;
}

.show {
  display: block;
}
