.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  /* background: #57BC90; */
  /* linear-gradient(left,#77C9D4,#57BC90); */
  background: -webkit-linear-gradient(70deg, #77c9d4, #015249);
  height: 35rem;
  width: 70%;
  min-width: 20rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  left: 15rem;
  border-radius: 6px;
  align-content: center;
  opacity: 0;
  height: 30rem;
  width: 90%;
  transition: 1s;
}
.loaded {
  left: 15rem;
  border-radius: 6px;
  align-content: center;
  opacity: 1;
  height: 30rem;
  width: 100%;
  transition: 1s;
  border: 5 px solid #015249;
}
.buttons {
  margin: 1rem;
  height: 30px;
  width: 40px;
  font-size: larger;
  border-radius: 2px;
  color: #fff;
  background-color: #015249;
  transition: 500ms;
  border: 0;
}
.buttons:hover {
  background-color: #77c9d4;
}
