.containerAll {
  margin-top: 100px;
  text-align: center;
  padding: 0 10rem;
}

.containerActions {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.containerUsersData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.containerButtonsActions {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
