.color {
  height: 100%;
  background: linear-gradient(
    298.8deg,
    rgba(204, 214, 38, 0.85) -59.75%,
    rgba(27, 163, 168, 0.85) 26.91%,
    rgba(55, 61, 81, 0.85) 98.72%
  );
}
.cart{
  position:fixed;
  top: 5rem;
  right: 4rem;
  border-radius: 50px;
  z-index: 2;
}
.cart:hover{
  background-color: #77c9d4;
}
.home {
  background: url("../imgs/Landing.jpg");
  width: 100%;
}

.sideBar_containerCard {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5%;
}

.ubiOptions {
  margin-right: 10%;
  margin-left: 10%;
}

.p {
  font-weight: bold;
  color: white;
}

.options {
  width: 160px;
  height: 25px;
  background-color: #77c9d4;
  border: none;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  color: black;
}

.options:hover {
  cursor: pointer;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 70vw;
}

.link {
  text-decoration: none;
  color: black;
}
