.color {
  height: 100%;
  background: linear-gradient(
    298.8deg,
    rgba(204, 214, 38, 0.85) -59.75%,
    rgba(27, 163, 168, 0.85) 26.91%,
    rgba(55, 61, 81, 0.85) 98.72%
  );
  padding: 50px 0;
}

.containerCart {
  position: fixed;
  background-color: #77c9d4;
  top: 5rem;
  right: 2rem;
  z-index: 2;
  border-radius: 100%;
  padding: 1rem;
  transition: 500ms;
}
.containerCart:hover{
  background-color:#77c9d480 ;
}
.cart {
  width: 48px;
  height: 48px;
  color: white;
}
.productsAmount{
  position: absolute;
  top:3rem;
  left:2px;
  width: 15px;
  height: 20px;
  padding-left: 5px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: orange
}

.home {
  width: 100%;
}

.sideBar_containerCard {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5%;
}

.p {
  font-weight: bold;
  color: white;
  margin: 0;
}

.options {
  width: 160px;
  height: 25px;
  background-color: #77c9d4;
  border: none;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  color: black;
}

.options:hover {
  cursor: pointer;
}

.containerActionsAndCards {
  width: 100%;
  padding: 0 1rem;
}
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.link {
  text-decoration: none;
  color: black;
}

.containerOrderAndPaginado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


