.home {
  background-image: url("https://images8.alphacoders.com/370/thumb-1920-370799.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ubiOptions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p {
  font-weight: bold;
  color: wheat;
}

.options {
  width: 160px;
  height: 25px;
  background-color: #73400d;
  border: none;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
  color: wheat;
  box-shadow: 3px 3px 3px #73400d96;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 70vw;
}

.link {
  text-decoration: none;
  color: black;
}
