.appBar{
  position: static;
}
.Link {
  text-decoration: none;
  color: black;
}
.navItem {
  color: white;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}
.select {
  color: white;
  background-color: #086c60ab;
  font-size: 23px;
  height: 10px;
  margin: 15px;
  position: relative;
}
.navItem:hover {
  text-decoration: none;
}

.navItem::before {
  content: '';
  background: white;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}
.navItem:hover::before {
  width: 100%;
}

.navItem::after {
  content: '';
  background: white;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.navItem:hover::after {
  width: 100%;
}
@media(max-width:900px){
  .appBar{
    position: fixed;
  }
}