.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnNav {
  background-color: rgba(27, 163, 168);
  width: 40px;
  border: none;
  border-radius: 2px;
  height: 30px;
  margin: 5px;
  font-weight: bold;
  font-size: large;
  color: black;
  transition: 300ms;
}
.btnNav:hover {
  cursor: pointer;
  transform: scale(1.03);
  transform:rotate3d(2, 1, 1, 5deg);
}

.btnNav:active {
  transform: translateY(2px);
}

.btnSel {
  background-color: rgba(27, 163, 168);
  width: 45px;
  border: none;
  border-radius: 2px;
  height: 30px;
  margin: 5px;
  font-weight: bold;
  font-size: large;
  color: white;
  transition: 300ms;
}

.btnSel:hover {
  cursor: pointer;
}
