.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background: -webkit-linear-gradient(80deg, #77c9d4, #015249);
  padding: 3rem;
  border-radius: 10px;
}
.titleForm {
  margin-bottom: 0.5rem;
}
.containerForm div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
  color: #fff;
}
.containerForm label {
  font-size: 1.2rem;
}
.containerForm input {
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  border: none;
}
.containerForm input:focus {
  outline: none;
}
.containerForm input[type='date'] {
  padding: 0.3rem 0.5rem;
  width: 93.5%;
}
.containerForm textarea {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  border: none;
}
.containerForm textarea:focus {
  outline: none;
}
.btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  padding: 0;
  margin-top: 1rem;
}

.btn::before {
  content: '';
  background: white;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}
.btn:hover::before {
  width: 90%;
}

.btn::after {
  content: '';
  background: white;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.btn:hover::after {
  width: 100%;
}
.btnAdmin {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  background: -webkit-linear-gradient(80deg, #77c9d4, #015249);
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
