.container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.button {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #22b8cf;

  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.input {
  border: 5px #22b8cf solid;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 4px 8px;
}

.input:focus {
  outline: none;
}
