.container {
  background: white;
  padding: 10px;
  border-radius: 8px;
  margin-right: 2%;
  backdrop-filter: blur(500px);
  box-shadow: 0 5px 25px grey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.containerTitle {
  background: #22b8cf;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}
.title {
  margin: 0;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  position: relative;
  width: 200px;
  height: 250px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: 0.5s;
}

.card .face_front {
  transform: perspective(600px) rotateY(0deg);
}

.card .face_front h3 {
  margin: 0;
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translate(-5px, -8px);
  background-color: #0ca678;
  border: 5px solid white;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
.card .face_front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .face_back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card:hover .face_front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .face_back {
  transform: perspective(600px) rotateY(360deg);
}
