.container {
  /* background: -webkit-linear-gradient(70deg,#77C9D4,#015249); */
  background: white;
  padding: 10px;
  border-radius: 8px;
  width: 17%;
  height: auto;
  margin-right: 2%;
  backdrop-filter: blur(500px);
  box-shadow: 0 5px 25px grey;
}
.title {
  color: white;
  border-radius: 5px;
  background: -webkit-linear-gradient(right, #77c9d4, #015249);
  height: 3rem;
  width: 100%;
  align-items: center;
}

.card {
  display: flex;
  justify-content: flex-start;
  padding-left: 3%;
  height: 8%;
  width: 90%;
  min-width: 100px;
  transition: 500ms;
  margin-bottom: 20px;
  color: #015249;
  border-radius: 2px;
  background-color: rgb(223, 251, 247);
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  /* border: 1px solid white; */
}

.card:hover {
  /* transform: translateY(-3px); */
  box-shadow: 0px 0px 5px black;
  background-color: #77c9d4;
}

.img {
  width: 100px;
  height: 150px;

  border-radius: 5px;
}

.price {
  color: #57bc90;
}

.link {
  text-decoration: none;
  color: black;
}
