.container {
  background-color: #aa784683;
  border-radius: 8px;
  width: 20rem;
  height: auto;
  float: right;
  margin-right: 80px;
  color: wheat;
}
.title {
  background-color: #73400dbb;
  height: 3rem;
  width: 20rem;
  align-items: center;
}

.card {
  display: flex;
  padding-left: 3%;
  height: 8%;
  width: 90%;
  min-width: 100px;
  transition: 500ms;
  margin-bottom: 20px;
  color: wheat;
  /* border: 2px solid black; */
}

.card:hover {
  transform: translateY(-5px);
}

.img {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
}

.price {
  color: orangered;
}

.link {
  text-decoration: none;
  color: black;
}
