.stock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.gridContainerBooks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

  padding: 0;
  list-style: none;
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cardItem p {
  font-size: 24px;
}

.gridContainerBooks img {
  width: 250px;
  height: 250px;
}

.gridContainerBooks p {
  margin: 0;
}
.btnAdmin {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #22b8cf;

  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.selectOrder {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #77c9d4;
  background-color: transparent;
}

.containerButtonsNavigation {
  display: flex;
  gap: 2rem;
}

.containerbuttonsActions {
  display: flex;
  gap: 1rem;
}

.containerSelects {
  display: flex;
  gap: 1rem;
}
