.containerAll {
}

.userForm {
  background: #22b8cf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: max-content;
}
.userimage {
  border-radius: 50%;
}
.legendForm {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}
.containerInputsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-end;
  gap: 0.5rem;
  padding: 2rem;
}

.containerInput {
  display: flex;

  align-items: center;
  gap: 1rem;
}

.containerInput label {
  color: white;
  font-size: 1.2rem;
}

.containerInput input {
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
  transition: all 0.2s;
}

.containerInput input:focus {
  outline: 5px solid rgba(0, 255, 255, 0.5);
}
.containerUserPlan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
  gap: 2rem;
}
.containerUserPlan h3 {
  font-size: 2rem;
  margin: 0;
}

.userPlan {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.userPlan p {
  margin: 0;
  font-size: 1.2rem;
}

.button {
  z-index: 1;
  position: relative;
  font-size: 18px;
  background-color: #2e9caa;
  height: 3rem;
  border-radius: 4px;
  transition: 500ms;
  color: white;

  justify-self: end;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #285874;
  z-index: -1;
  top: 0;
  left: 0;
  transition: transform 200ms ease-in;
}
.button::after {
  transform: scaleX(0);
  transform-origin: right;
}
.button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.select {
  font-size: 1.2rem;
  width: 14rem;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
  transition: all 0.2s;
}
.select:focus {
  outline: 5px solid rgba(0, 255, 255, 0.5);
}

.error {
  color: red;
  position: absolute;
}

.buttonDelete {
  font-size: 24px;
  border: none;
  background-color: #f03e3e;
  padding: 4px 10px;
  border-radius: 6px;
  color: white;
}

.titlesEditPlanes {
  font-size: 32px;
}
.containerUserPlan p {
  font-size: 24px;
}

.buttonUserContainer p {
  font-size: 24px;
}

.containerUserPlan button[disabled] {
  filter: grayscale(1);
  box-shadow: none;
  cursor: no-drop;
}
