.containerBooksRecommended {
  width: 1000px;
  background-color: #22b8cf;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.frase {
  font-size: 24px;
  padding: 0 20px;
  color: white;
}
