.containerUserProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerUserProfile h2 {
  color: black;
  font-size: 2.2rem;
}
.containerUser {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}
.containerUser p {
  font-size: 1.2rem;
}
