.containerButton {
  display: flex;
  gap: 2rem;
}

.button {
  border: none;
  background-color: #22b8cf;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.frasepromocional {
  font-size: 24px;
  margin: 0;
}

.containerCards {
  display: flex;
  gap: 2rem;
}
