.container {
  display: flex;
  justify-content: center;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  /*box-shadow: 0 0 20px rgba(0,0,0.15);*/
}

.content-table thead tr {
  background-color: #2e9caa;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}


.content-table tbody tr:hover {
  border-bottom: 1px solid #dedede;
  transform: scale(1.02);
  background-color: #dedede;
}

.content-table tbody input:checked {
  margin-left: 50px;
  border: 1px solid blue;
  background-color: blue;
  color: #2e9caa;
}

.content-table tbody :link{
  text-decoration: none;
  color:black
 
}


.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #2e9caa;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #2e9caa;
}


 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50px;
  left: -2px;
  bottom: -2px;
  background-color: rgb(219, 219, 219);
  -webkit-transition: .3s;
  transition: .3s;
  
}

input:checked + .slider {
  background-color:  #289343;
  content: 'N';
}

input:checked + .slider::before {
  background-color:  #d1d3ce;
  box-shadow: none;
  
}

input:focus + .slider {
  box-shadow: 0 0 1px #28746f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
